.background {
    /* background-image: url(https://images.drawinghub.com/31396_501/how-to-draw-skyrim-skyrim-logo_5b5bd63f21f441.58247952_94762_1_4.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    /* background-size: %; */
}

/* nav-bar */

.dropbtn {
    background-color: rgb(131, 36, 245);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: aqua;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    background-color: rgb(171, 122, 231);
    color: white;
    padding: 6px 6px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(58, 4, 124);
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-hover .dropbtn {
    background-color: rgb(131, 36, 245);
} 

/* rest */

.main_wrap {
    width:1000px;
    height:auto;
    margin:auto;
}

.header {
    position: relative;
    width: 1000px;
    height:120px;
    margin: auto;

}

.menu {

}

.contentarea {

}

.footer {

}

.h_image {
    height: 120px;
}

.cart {
    position: absolute;
    height: 30px;
    margin-left: 80%;
    margin-top: 1.5%;
}
