/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* code underneath */

body {
    /* background-image: url(https://images.drawinghub.com/31396_501/how-to-draw-skyrim-skyrim-logo_5b5bd63f21f441.58247952_94762_1_4.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    /* background-size: %; */
}

/* nav-bar */

.dropbtn {
    background-color: rgb(131, 36, 245);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: aqua;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    background-color: rgb(171, 122, 231);
    color: white;
    padding: 6px 6px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(58, 4, 124);
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-hover .dropbtn {
    background-color: rgb(131, 36, 245);
} 

/* the header of the logo */

.main_wrap {
    width:1000px;
    height:auto;
    margin:auto;
}

.header {
    position: relative;
    width: 1000px;
    height:120px;
    margin: auto;

}

#logo {
    float: left;
    height: 120px;
}

#cart {
    position: absolute;
    height: 30px;
    margin-left: 85%;
    margin-top: 1.5%;
}

#signin {
    position: absolute;
    height: 28px;
    margin-left: 85%;
    margin-top: 7.5%;
}

.menubar {
    width: 1000px;
    height: 50px;
    background: rgb(58, 4, 124);
    color: white;
}

#form {
    position: relative;
    margin-top: -50px;
    margin-left: 750px;
    padding-left: 8px;
    line-height: 50px;
}

/* wrap under head */

.content_warp {
    width: 1000px;
    height: 1000px;
    margin: auto;
    background-color: black);
}

#content_area {
    width: 1000px;
    height: 1000px;
    float: right;
    background: rgb(58, 76, 200);
    /* opacity: 0.2; */
}

#footer {
    width: 1000px;
    height: 100px;
    background: rgb(65, 0, 0);
    /* opacity: 0.2; */
    clear: both;
}

/* slideshow */

.s_image {
    height: 510px;
    width: 728px;
}

#slideshow {
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin: 0 auto;
}
  
.slide-wrapper {
    width: 2912px;
    -webkit-animation: slide 10s ease infinite;
}
  
.slide {
    float: left;
    height: 510px;
    width: 728px;
}
  
.slide:nth-child(1) {
    background: rgb(21, 36, 255);
}
  
.slide:nth-child(2) {
    background: #037E8C;
}
  
.slide:nth-child(3) {
    background: #36BF66;
}
  
.slide:nth-child(4) {
    background: #D9D055;
}
  
@-webkit-keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -728px;}
    50% {margin-left: -728px;}
    60% {margin-left: -1456px;}
    70% {margin-left: -1456px;}
    80% {margin-left: -2184px;}
    90% {margin-left: -2184px;}
}